# List

##### To store more than one value, we can use data-type list

In [1]:
list_score = [56, 72, 92, 84, 100]
list_score

[56, 72, 92, 84, 100]

In [2]:
#to check data-type, type() function is often used!

type(list_score)

list

## Details on lists

### List can contain different types of object

In [3]:
mylist = [1, 'two', 3.0]
mylist

[1, 'two', 3.0]

In [4]:
print(type(mylist[0]))
print(type(mylist[1]))
print(type(mylist[2]))

<class 'int'>
<class 'str'>
<class 'float'>

### List of Lists: List can also contain another list as element

In [5]:
list_score1 = [10, 20, 30, 40, 50]
list_score2 = [60, 70, 80, 90, 100]
list_score3 = [list_score1, list_score2]

print(list_score3)

[[10, 20, 30, 40, 50], [60, 70, 80, 90, 100]]

### List if Lists: Elements can be accessed by two indices

In [6]:
print("score1 of class1 is {}".format(list_score3[0][0]))
print("score1 of class2 is {}".format(list_score3[1][0]))

score1 of class1 is 10
score1 of class2 is 60

### List manipulation: concatenation

In [7]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [8, 9, 10, 11, 12, 13, 14]

print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7]
[8, 9, 10, 11, 12, 13, 14]

In [8]:
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### List manipulation: duplication

In [9]:
list4 = list1*2
print(list4)

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

## Basic List operations(append, insert, pop, remove, clear, count, sort, reverse, copy)
##### Many operations can be done to list-type variable

### 1. Adding Element without index-specified -> .append(value)

In [10]:
#set empty list and add elements
#
list_score = []
list_score.append(56)
list_score.append(72)
list_score.append(92)
list_score.append(84)
list_score.append(100)

list_score

[56, 72, 92, 84, 100]

### 2. Adding Element with index-specified -> .insert(index, value)

In [11]:
list_score = []

list_score.insert(0, 56)
list_score.insert(1, 72)
list_score.insert(2, 92)
list_score.insert(3, 84)
list_score.insert(4, 100)

list_score

[56, 72, 92, 84, 100]

### 3. Remove elements in list by using index -> .pop(index)

In [12]:
list_score.pop()
list_score

[56, 72, 92, 84]

###### .pop() method can also be used as Stacks[Last-in First-out]

In [13]:
stack = []

stack.append(10)
stack.append(20)
stack.append(30)
stack.append(40)
stack.append(50)

print(stack)

[10, 20, 30, 40, 50]

In [14]:
#Element append last: 50
#outcome of stack.pop() -> 50

print(stack.pop())
print(stack)

50
[10, 20, 30, 40]

###### We can also use Lists as Queues(First-in First-out), but it is inefficient, because all the elements should be shifted
###### To support Queue, collections.deque() is used from 'collections' module
###### **Deque: Double-ended-queue -> Data can be handled in both-ways

In [15]:
from collections import deque

In [16]:
queue = deque(["Eric", "John", "Michael"])

#First-in
queue.append("Terry")

#Second-in
queue.append("Graham")

print(queue)

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [17]:
#Eric leaves
print(queue.popleft())
print(queue)

#John leaves
print(queue.popleft())
print(queue)

Eric
deque(['John', 'Michael', 'Terry', 'Graham'])
John
deque(['Michael', 'Terry', 'Graham'])

### 4. Remove elemets in list by using value-> .remove(value)

In [18]:
#append 100 to list
list_score.append(100)
list_score.append(100)
print(list_score)

#remove 100 in list
##only one 100 is removed
list_score.remove(100)
print(list_score)
list_score.remove(100)
print(list_score)

[56, 72, 92, 84, 100, 100]
[56, 72, 92, 84, 100]
[56, 72, 92, 84]

### 5. Remove all the elements in list -> .clear()

In [19]:
#seting new list
list_new = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
list_new

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [20]:
#clear all the list elements. Compare result!
list_new.clear()
list_new

[]

### 6. Check the number of values of a specified element in a list -> .count(value)

In [21]:
list_score = [11, 12, 11, 50, 89, 77, 100, 100]
list_score.count(100)

2

### 7. Sort elements in a list by increasing order -> .sort()

In [22]:
#Before sorting
list_score

[11, 12, 11, 50, 89, 77, 100, 100]

In [23]:
#After sorting
list_score.sort()
list_score

[11, 11, 12, 50, 77, 89, 100, 100]

### 8. Sort elements in a list by decreasing order -> .reverse()

In [24]:
list_score.reverse()
list_score

[100, 100, 89, 77, 50, 12, 11, 11]

###### We can also use appropriate key value in .sort() method
###### To sort list by decreasing order, .sort(reverse=True) is used

In [25]:
list_score = [11, 12, 11, 50, 89, 77, 100, 100]
list_score.sort(reverse = True)
print(list_score)

[100, 100, 89, 77, 50, 12, 11, 11]

###### We can also use built-in function sorted() to sort list

In [26]:
origin_list = [11, 12, 11, 50, 66, 77, 100, 100]
sorted_list = sorted(origin_list)

print(origin_list)
print(sorted_list)

[11, 12, 11, 50, 66, 77, 100, 100]
[11, 11, 12, 50, 66, 77, 100, 100]

###### Difference between .sort() method and built-in sorted() function
######         .sort method changes the original list
######         sorted() function preserves original list, to store sorted list by sorted() fuction, we must create new list to store them!

In [27]:
#Use method to sort list
origin_list1 = [11, 12, 11, 50, 66, 77, 100, 100]
sorted_by_method = origin_list1.sort()

#Use built-in fuction to sort list
origin_list2 = [11, 12, 11, 50, 66, 77, 100, 100]
sorted_by_function = sorted(origin_list2)

In [28]:
print(origin_list1)
print(sorted_by_method)

print(origin_list2)
print(sorted_by_function)

[11, 11, 12, 50, 66, 77, 100, 100]
None
[11, 12, 11, 50, 66, 77, 100, 100]
[11, 11, 12, 50, 66, 77, 100, 100]

### List Slicing
###### Collecting elements from original list
###### format: list[start-index: end-index: steps]
###### q) original list deformed? ans) NO!

In [29]:
list_original = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

list_original[:]   #If steps are not defined, default value(steps = 1) is used
print(list_original)

list_original[::]
print(list_original)

list_original[0:10:1]
print(list_original)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [30]:
#First-half
print(list_original[:5])
print(list_original[0:5])

##original list is not deformed
print(list_original)

#Second-half
print(list_original[5:])
print(list_original[5:10])

##original list is not deformed
print(list_original)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[60, 70, 80, 90, 100]
[60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [31]:
#list for odd indices
print("list for odd indices")
print(list_original[1::2])

print("list for even indices")
print(list_original[::2])

list for odd indices
[20, 40, 60, 80, 100]
list for even indices
[10, 30, 50, 70, 90]

In [32]:
#save sliced list into another list
list_evenIndex = list_original[::2]
list_oddIndex = list_original[1::2]

print(list_evenIndex)
print(list_oddIndex)

[10, 30, 50, 70, 90]
[20, 40, 60, 80, 100]

###### We can reverse the element of list by using slicing

In [33]:
#original list
list_original = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_reversed = list_original[::-1]

print(list_original)
print(list_reversed)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### example: calculate mean score stored in list
##### We can use sum(list_name) to get sum of elements and len(list_name) to get number of elements

In [34]:
list_score=[56, 72, 92, 84, 100]
mean = sum(list_score)/len(list_score)
mean

80.8