# List

##### To store more than one value, we can use data-type list

In [1]:
list_score = [56, 72, 92, 84, 100]
list_score

[56, 72, 92, 84, 100]

In [3]:
#to check data-type, type() function is often used!

type(list_score)

list

## Details on lists

### List can contain different types of object

In [12]:
mylist = [1, 'two', 3.0]
mylist

[1, 'two', 3.0]

In [13]:
print(type(mylist[0]))
print(type(mylist[1]))
print(type(mylist[2]))

<class 'int'>
<class 'str'>
<class 'float'>

### List of Lists: List can also contain another list as element

In [18]:
list_score1 = [10, 20, 30, 40, 50]
list_score2 = [60, 70, 80, 90, 100]
list_score3 = [list_score1, list_score2]

print(list_score3)

[[10, 20, 30, 40, 50], [60, 70, 80, 90, 100]]

### List if Lists: Elements can be accessed by two indices

In [19]:
print("score1 of class1 is {}".format(list_score3[0][0]))
print("score1 of class2 is {}".format(list_score3[1][0]))

score1 of class1 is 10
score1 of class2 is 60

### List manipulation: concatenation

In [14]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [8, 9, 10, 11, 12, 13, 14]

print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7]
[8, 9, 10, 11, 12, 13, 14]

In [16]:
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### List manipulation: duplication

In [17]:
list4 = list1*2
print(list4)

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

## Basic List operations(append, insert, pop, remove, clear, count, sort, reverse, copy)
##### Many operations can be done to list-type variable

### 1. Adding Element without index-specified -> .append(value)

In [4]:
#set empty list and add elements
#
list_score = []
list_score.append(56)
list_score.append(72)
list_score.append(92)
list_score.append(84)
list_score.append(100)

list_score

[56, 72, 92, 84, 100]

### 2. Adding Element with index-specified -> .insert(index, value)

In [1]:
list_score = []

list_score.insert(0, 56)
list_score.insert(1, 72)
list_score.insert(2, 92)
list_score.insert(3, 84)
list_score.insert(4, 100)

list_score

[56, 72, 92, 84, 100]

### 3. Remove elements in list by using index -> .pop(index)

In [3]:
list_score.pop()
list_score

[72, 92, 84]

###### .pop() method can also be used as Stacks[Last-in First-out]

In [4]:
stack = []
stack.append(10)
stack.append(20)
stack.append(30)
stack.append(40)
stack.append(50)

print(stack)

[10, 20, 30, 40, 50]

### 4. Remove elemets in list by using value-> .remove(value)

In [13]:
list_score.remove(100)
list_score

[72, 92, 84]

### 5. Remove all the elements in list -> .clear()

In [6]:
#seting new list
list_new = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
list_new

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [7]:
#clear all the list elements. Compare result!
list_new.clear()
list_new

[]

### 6. Check the number of values of a specified element in a list -> .count(value)

In [8]:
list_score = [11, 12, 11, 50, 89, 77, 100, 100]
list_score.count(100)

2

### 7. Sort elements in a list by increasing order -> .sort()

In [9]:
#Before sorting
list_score

[11, 12, 11, 50, 89, 77, 100, 100]

In [10]:
#After sorting
list_score.sort()
list_score

[11, 11, 12, 50, 77, 89, 100, 100]

### 8. Sort elements in a list by decreasing order -> .reverse()

In [11]:
list_score.reverse()
list_score

[100, 100, 89, 77, 50, 12, 11, 11]

###### We can also use appropriate key value in .sort() method
###### To sort list by decreasing order, .sort(reverse=True) is used

In [39]:
list_score = [11, 12, 11, 50, 89, 77, 100, 100]
list_score.sort(reverse = True)
print(list_score)

[100, 100, 89, 77, 50, 12, 11, 11]

###### We can also use built-in function sorted() to sort list

In [24]:
origin_list = [11, 12, 11, 50, 66, 77, 100, 100]
sorted_list = sorted(origin_list)

print(origin_list)
print(sorted_list)

[11, 12, 11, 50, 89, 77, 100, 100]
[11, 11, 12, 50, 77, 89, 100, 100]

###### Difference between .sort() method and built-in sorted() function
######         .sort method changes the original list
######         sorted() function preserves original list, to store sorted list by sorted() fuction, we must create new list to store them!

In [32]:
#Use method to sort list
origin_list1 = [11, 12, 11, 50, 66, 77, 100, 100]
sorted_by_method = origin_list1.sort()

#Use built-in fuction to sort list
origin_list2 = [11, 12, 11, 50, 66, 77, 100, 100]
sorted_by_function = sorted(origin_list2)

In [34]:
print(origin_list1)
print(sorted_by_method)

print(origin_list2)
print(sorted_by_function)

[11, 11, 12, 50, 66, 77, 100, 100]
None
[11, 12, 11, 50, 66, 77, 100, 100]
[11, 11, 12, 50, 66, 77, 100, 100]

### example: calculate mean score stored in list
##### We can use sum(list_name) to get sum of elements and len(list_name) to get number of elements

In [14]:
list_score=[56, 72, 92, 84, 100]
mean = sum(list_score)/len(list_score)
mean

80.8